*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"poppins";
}
body{
    background-color: black;
    background-image:url("assets/logo.png"),linear-gradient(rgba(0,0,0,0.8));
    background-repeat: space space;
}
.container{
    border: 4px solid white;
    background-color: white;    
    height: 100vh;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
}
.right{
    height:100%;
    width: 70%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right img{
    padding: 20px;
}
.left{
    border-left: 4px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    background-color: grey;
    width: 100%;
    height: 100%;
    padding: 20px;
}
.left form{
    display: flex;
    flex-direction: column;
}
.left form input{
    border: 2px solid black;
    width: 60%;
    padding: 0.8rem;
    border-radius: 8px;
    font-size: 15px;
    transition: border-color 0.3s,border-shadow 0.3s;
}
.left form input:focus{
    border-color: grey;
    box-shadow: 0 0 0 3px rgba(99,102,241,0.2);
    outline: none;
}
.left form button{
    margin:8px 0;
    width:60%;
    height: 50px;
    border: none;
    border-radius: 15px;
    background-color: red;
    color: white;
}     
button:hover{
    box-shadow: 0px 6px 30px 0px skyblue;
}